main {
    padding-top: 100px;

    .jumbo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .jumbo-left {
            width: 50%;
            font-size: 35px;
            text-transform: uppercase;
            color: $write-color;

            h1 {
                font-weight: 300;
            }

            p {
                font-size: $p-size;
                font-weight: bold;
            }

            ul {
                font-size: 15px;
                padding-left: 20px;
                line-height: 24px;
            }
        }

        .jumbo-right {
            width: 50%;

            img {
                max-width: 90%;
            }
        }
    }

    .statistics {
        background-color: $bg-blue;
        color: white;

        .statistics-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;

            .statistics-left,
            .statistics-center,
            .statistics-right {
                max-width: 280px;
            }
        }

        h3 {
            font-size: 40px;
        }

        p {
            font-size: $p-size;
        }
    }

    .companies {
        padding: 0;
        color: $grey-color;

        p {
            font-size: $p-size;
        }

        .top-row-images,
        .bottom-row-images {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .first,
            .second,
            .third {
                text-align: left;
                width: 33%;

                img {
                    max-width: 250px;
                }
            }
        }

        .bottom-row-images {
            margin-top: 20px;

            .first,
            .second,
            .third {
                text-align: right;
            }
        }
    }
}
